<a href="https://colab.research.google.com/github/luckwell4869/Portfolio/blob/main/100%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pipでオリジナルの解答に必要なライブラリーをインストール
!pip install --upgrade pip
!pip install -U pandas numpy scikit-learn imbalanced-learn

# pipでオリジナルの解答に必要なライブラリーをインポート
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler


# データを github/noguhiro2002/100knocks-preprocess/work/data フォルダよりDataframe形式でRead
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_category = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/category.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')
df_store = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/store.csv')
df_geocode = pd.read_csv('https://raw.githubusercontent.com/noguhiro2002/100knocks-preprocess_ForColab-AzureNotebook/master/data/geocode.csv')

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.2.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.24.2)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.8.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler

# データを github/noguhiro2002/100knocks-preprocess/work/data フォルダよりDataframe形式でRead
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_category = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/category.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')
df_store = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/store.csv')
df_geocode = pd.read_csv('https://raw.githubusercontent.com/noguhiro2002/100knocks-preprocess_ForColab-AzureNotebook/master/data/geocode.csv')

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
#P-001: レシート明細のデータフレーム（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

df_receipt.head()

   sales_ymd  sales_epoch store_cd  ...  product_cd  quantity amount
0   20181103   1541203200   S14006  ...  P070305012         1    158
1   20181118   1542499200   S13008  ...  P070701017         1     81
2   20170712   1499817600   S14028  ...  P060101005         1    170
3   20190205   1549324800   S14042  ...  P050301001         1     25
4   20180821   1534809600   S14025  ...  P060102007         1     90

[5 rows x 9 columns]

In [23]:
#P-002: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、
#売上金額（amount）の順に列を指定し、10件表示させよ。

df_Receipt = df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount', 'quantity']]

In [25]:
#P-003: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。
#ただし、sales_ymdはsales_dateに項目名を変更しながら抽出すること。

df_Reciept = df_Receipt.rename(columns = {'sales_ymd': 'sales_date'}).head()

In [26]:
#P-004: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
#顧客ID（customer_id）が"CS018205000001"

df_Receipt[df_Receipt['customer_id'] == 'CS018205000001']

       sales_ymd     customer_id  product_cd  amount  quantity
36      20180911  CS018205000001  P071401012    2200         1
9843    20180414  CS018205000001  P060104007     600         6
21110   20170614  CS018205000001  P050206001     990         5
27673   20170614  CS018205000001  P060702015     108         1
27840   20190216  CS018205000001  P071005024     102         1
28757   20180414  CS018205000001  P071101002     278         1
39256   20190226  CS018205000001  P070902035     168         1
58121   20190924  CS018205000001  P060805001     495         1
68117   20190226  CS018205000001  P071401020    2200         1
72254   20180911  CS018205000001  P071401005    1100         1
88508   20190216  CS018205000001  P040101002     218         1
91525   20190924  CS018205000001  P091503001     280         1

In [7]:
#顧客ID（customer_id）が"CS018205000001"
#売上金額（amount）が1,000以上

df_Receipt[(df_Receipt['customer_id'] == 'CS018205000001') & (df_Receipt['amount'] >= 1000)]

       sales_ymd     customer_id  product_cd  amount  quantity
36      20180911  CS018205000001  P071401012    2200         1
68117   20190226  CS018205000001  P071401020    2200         1
72254   20180911  CS018205000001  P071401005    1100         1

In [8]:
#売上金額（amount）が1,000以上または売上数量（quantity）が5以上

df_Receipt[(df_Receipt['customer_id'] == 'CS018205000001') & (df_Receipt['amount'] >= 1000) & (df_Receipt['quantity'] >= 5)]

Empty DataFrame
Columns: [sales_ymd, customer_id, product_cd, amount, quantity]
Index: []

In [20]:
#顧客ID（customer_id）が"CS018205000001"
#売上金額（amount）が1,000以上2,000以下

# df_Receipt[(df_Receipt['customer_id'] == 'CS018205000001') & (df_Receipt['amount'] >= 1000)]

df_Receipt.query('customer_id == "CS018205000001" & amount >= 1000')

       sales_ymd     customer_id  product_cd  amount  quantity
36      20180911  CS018205000001  P071401012    2200         1
68117   20190226  CS018205000001  P071401020    2200         1
72254   20180911  CS018205000001  P071401005    1100         1

In [27]:
#顧客ID（customer_id）が"CS018205000001"
#商品コード（product_cd）が"P071401019"以外

df_Receipt[(df_Receipt['customer_id'] == 'CS018205000001') & (df_Receipt['product_cd'] != 'P071401019')]

       sales_ymd     customer_id  product_cd  amount  quantity
36      20180911  CS018205000001  P071401012    2200         1
9843    20180414  CS018205000001  P060104007     600         6
21110   20170614  CS018205000001  P050206001     990         5
27673   20170614  CS018205000001  P060702015     108         1
27840   20190216  CS018205000001  P071005024     102         1
28757   20180414  CS018205000001  P071101002     278         1
39256   20190226  CS018205000001  P070902035     168         1
58121   20190924  CS018205000001  P060805001     495         1
68117   20190226  CS018205000001  P071401020    2200         1
72254   20180911  CS018205000001  P071401005    1100         1
88508   20190216  CS018205000001  P040101002     218         1
91525   20190924  CS018205000001  P091503001     280         1

In [29]:
#P-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。
#df_store.query('not(prefecture_cd == "13" | floor_area > 900)')

df_store.query('prefecture_cd != "13" & floor_area <= 900')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0

[3 rows x 10 columns]

In [10]:
#P-010: 店舗データフレーム（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件だけ表示せよ。

# df_store.store_cd.str.startswith('S14')

cond = df_store.store_cd.str.startswith('S14')
df_store[cond]

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
4    S14036     相模原中央店             14  ...  139.3716  35.57327     1679.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
19   S14022        逗子店             14  ...  139.5789  35.29642     1838.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
22   S14034      川崎野川店             14  ...  139.5998  35.57693     1318.0
26   S14048      中川中央店             14  ...  139.5758  35.54912     1657.0
28   S14026     辻堂西海岸店             14  ...  139.4466  35.32464     1732.0
31   S14049      川崎大師店             14  ...  139.7327  35.53759      962.0
32   S14023        川崎店             14  ...  139.7028  35.53599     1804.0
35   S14027       南藤沢店             14  ...  139.4896  35.33762     1521.0
36   S14021       伊勢原店             14  ...  139.3129  35.40169      962.0
37   S14047       相模原店             14  ...  139.3748  35.55959     1047.0
40   S14042       新山下店             14  ...  139.6593  35.43894     1044.0
44   S14025        大和店             14  ...  139.4680  35.43414     1011.0
45   S14045        厚木店             14  ...  139.3651  35.44182      980.0
51   S14024        三田店             14  ...  139.5424  35.60770      972.0
52   S14006       葛が谷店             14  ...  139.5633  35.53573     1886.0

[23 rows x 10 columns]

In [14]:
#P-011: 顧客データフレーム（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件だけ表示せよ。

cond = df_customer.customer_id.str.endswith('1')
df_customer[cond].head(10)

        customer_id customer_name  ...  application_date     status_cd
1    CS037613000071         六角 雅彦  ...          20150414  0-00000000-0
3    CS028811000001        堀井 かおり  ...          20160115  0-00000000-0
14   CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
31   CS028314000011        小菅 あおい  ...          20151123  1-20080426-5
56   CS039212000051        藤島 恵梨香  ...          20171121  1-20100215-4
59   CS015412000111         松居 奈月  ...          20150629  0-00000000-0
63   CS004702000041          野島 洋  ...          20170218  0-00000000-0
74   CS041515000001         栗田 千夏  ...          20160422  E-20100803-F
85   CS029313000221        北条 ひかり  ...          20180810  0-00000000-0
102  CS034312000071         望月 奈央  ...          20160106  0-00000000-0

[10 rows x 11 columns]

In [15]:
#P-012: 店舗データフレーム（df_store）から横浜市の店舗だけ全項目表示せよ

cond = df_store.address.str.contains('横浜市')
df_store[cond]

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
26   S14048      中川中央店             14  ...  139.5758  35.54912     1657.0
40   S14042       新山下店             14  ...  139.6593  35.43894     1044.0
52   S14006       葛が谷店             14  ...  139.5633  35.53573     1886.0

[11 rows x 10 columns]

In [ ]:
#P-013: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件だけ表示せよ。